<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnUZ5xrxnjEZfKlX1n4CzOj5_tqJ8s6N8</string>
	<key>GCM_SENDER_ID</key>
	<string>859327578614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woozu.chatTunify</string>
	<key>PROJECT_ID</key>
	<string>chat-tunify-eb3dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-tunify-eb3dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859327578614:ios:eb28618716fa75f347c7d7</string>
</dict>
</plist>